  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  
  body {
    font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif;
  }
  
  /* HERO STYLES START */
  .hero { 
    background-image: url(../images/here-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: block;;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 90vh
  }

  .hero-cta{
    width: 40%;
    position: middle;
    text-align: center;
    margin: auto;
    line-height: 1.2;
    font-style: italic;
    font-size: 25px;
  }
/* my name animation*/
  .hero-ctaa{
    width: 90%;
    margin: auto;
    line-height: 1.2;
    font-style: italic;
    font-size: 100px;
    font-weight: bold;
    color: #E3EBEB; 
    text-align: left;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ad8a92, 0 0 40px #ad8a92, 0 0 50px #b8919a 0 0 60px #b47483, 0 0 70px #b66b7d;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #f77495, 0 0 40px #f77495, 0 0 50px #f77495, 0 0 60px #f77495, 0 0 70px #f77495, 0 0 80px #f77495;
  }}
.resume {
  background-color: rgb(235, 206, 210);  
}
  /* footer */
  .hero-ctaa1{
    width: 90%;
    margin: auto;
    font-size: 50px;
    line-height: .5;
    font-style: italic;
    font-weight: bold;
    color: #E3EBEB; 
    text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

footer {
  position: relative;
  font-family: "Poppins";
  padding: 25px 0px;
  background-color: pink;
}
.footer__content {
  padding: 20px;
  text-align: center;
  color: black;
}

.footer__heading {
  position: relative;
}
.footer__heading h2 {
  display: inline-block;
  padding: 0px 10px;
  /* border: 1px solid; */
  position: relative;
  z-index: 9999;
}
.footer__heading::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 45%;
  height: 5px;
  margin: 0;
  border-radius: 50px;
  width: 20%;
  transform: translate(-50%, -50%);

}
.footer__content p {
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
}
ul.social__media {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 15px;
}
ul.social__media li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}
ul.social__media li a {
  color: #fff;
  font-size: 20px;
}
ul.social__media li {
  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  background-color: black;
  line-height: 40px;
  border: 2px solid #545d5d;
  box-shadow: 0px 1px #fff;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.55),
    0 0px 20px 0px rgba(0, 0, 0, 0.55);
}
 
ul.bus__list {
  padding: 0;
  margin: 0;
}
 
ul.bus__list li {
  list-style-type: none;
  margin-bottom: 5px;
}
/* Project HTML page */
.workbg{
  background-color: #F1EAEB;
}
.work{
  width: 90%;
  margin: auto;
}
.shadoww{
  box-shadow: 5px 10px black;
}
.hero-ctaa2{
  width: 100%;
  margin-top: 50px;
  font-size: 70px;
  line-height: .5;
  font-style: italic;
  font-weight: bold;
  color: #E3EBEB; 
  text-align: center;
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
}

.hero2 { 
  background-image: url(../images/hillary-black-Pd1QMqkGPXU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 90vh;
}

.hero-cta2{
  width: 40%;
  position: middle;
  text-align: center;
  margin: auto;
  line-height: 1.2;
  font-style: italic;
  font-size: 25px;
  color: white; 
}